---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectList from "../components/ProjectList.astro";
const pageTitle = "James Wu";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="font-sans">
    <h2 class="text-4xl">Projects</h2>
    <div class="container flex flex-col items-center justify-center gap-12 px-4 py-4">
      <ProjectList />
    </div>
  </main>
</BaseLayout>
