---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectList from "../components/ProjectList.astro";
const pageTitle = "James Wu";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="max-w-max flex flex-col my-0 mx-auto font-sans mt-14">
    <div class="border-4 border-grey-200 bg-white rounded-lg">
      <div class="text-grey-700 bg-grey-100 text-4xl h-16 rounded-sm pl-2 flex justify-start items-center" >
        <h2 >Projects</h2>
      </div>
      <div class="container flex flex-col items-center justify-center gap-12 px-4 p-4">
        <ProjectList />
      </div>
    </div>
  </main>
</BaseLayout>
