---

---

<div class="flex flex-col text-grey-700 text-lg">
  <div class="rounded-sm border-l-4 p-4 border-yellow-500">

    <h3 class="text-4xl text-grey-700">Hello.</h3>
    <p class="text-2xl text-grey-700">My name is James Wu.</p>
    <p class="text-grey-700">I am a software developer currently based in Canada.</p>
    <p class="text-grey-700">I enjoy learning and building applications with new technologies.</p>
  </div>
</div>
