---
---

<nav class="flex justify-center">
  <a href="/">
    
    James Wu
  </a>
  <ul class="flex">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/projects/">Projects</a></li>
  </ul>
</nav>
