---
const { pageTitle } = Astro.props;
---

<header class="font-mono flex flex-col justify-center h-48">
  <h1 class="text-7xl mb-4">{pageTitle}</h1>
  <p class="text-lg">I am a Full Stack Web Developer that is passionate about technologies that provide an amazing developer experience.</p>
</header>
