---
const { pageTitle } = Astro.props;
---

<header class="bg-blue-950 font-mono flex flex-col justify-center items-center h-60">
  <h1 class="text-grey-100 text-7xl mb-4">{pageTitle}</h1>
  <p class="text-blue-200 text-2xl">Full Stack Developer</p>
</header>
